# <font color='blue'>Data Science</font>
# <font color='blue'>Análise de Dados com Linguagem Python</font>

## <font color='blue'>Suprimentos</font>
## <font color='blue'>Análise de Dados Para Traçar Estratégias Com base em ERP Sienge</font>

In [172]:
# Imports
import math
import sys, os
import numpy as np
import pandas as pd
import watermark 
import pandas as pd
import numpy as np
from sklearn import linear_model
import warnings
warnings.filterwarnings("ignore")

In [173]:
sys.path.append(os.path.abspath(os.path.join('modulos')))
from estrategia1 import *
from estrategia2 import *
from estrategia3 import *

## Carregando os Dados

https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [175]:
# Carrega o dataset
df = pd.read_csv("dados/siengeRelatorio.csv", sep=";")

In [176]:
df.shape

(509, 42)

In [177]:
df.head(5)

,Contrato,Empresa,Cód. Obra,Obra,Cód. Fornecedor,Fornecedor*,CPF/CNPJ Fornecedor,Objeto do Contrato,Data do Contrato,Data de Término,...,Cód. Departamento sinal,Departamento sinal,Vencimento do sinal,Observação do sinal,Retém impostos no sinal,Total Fat. Direto,Total Fat. Direto Vinculado,Fat. direto outro(s) contrato(s),Fat. direto considera indice,Fat. direto por desconto
0,CTF/7400121,740 - BLVD ALTI EMPREENDIMENTO IMOBILIÁRIO LTDA,74000.0,PROJETO BLVD ALTI,4130.0,GCS PROMOCAO E PUBLICIDADE LTDA,28.660.162/0001-75,PONTOS DE CAPTAÇÃO - GCS PROMOÇÕES,21/11/2024,01/06/2025,...,NaN,NaN,NaN,NaN,não,NaN,NaN,não,não,não
1,CTF/7400120,740 - BLVD ALTI EMPREENDIMENTO IMOBILIÁRIO LTDA,74000.0,PROJETO BLVD ALTI,2841.0,MAXIMA MARKETING PROMOCIONAL LTDA,18.666.314/0001-93,LOCAÇÃO DE BISTROS - MAXIMA,04/11/2024,04/02/2025,...,NaN,NaN,NaN,NaN,não,NaN,NaN,não,não,não
2,CTF/7400119,740 - BLVD ALTI EMPREENDIMENTO IMOBILIÁRIO LTDA,74000.0,PROJETO BLVD ALTI,2709.0,ALL COPIAS,56.927.924/0001-92,MATERIAIS GRAFICOS - ALL CÓPIAS,26/11/2024,26/04/2025,...,NaN,NaN,NaN,NaN,não,NaN,NaN,não,não,não
3,CTF/7400118,740 - BLVD ALTI EMPREENDIMENTO IMOBILIÁRIO LTDA,74000.0,PROJETO BLVD ALTI,4136.0,PUBLICKER SERVICOS E COMERCIO LTDA,15.479.964/0001-31,MIDIA - PUBLICKER,26/11/2024,26/02/2025,...,NaN,NaN,NaN,NaN,não,NaN,NaN,não,não,não
4,CTF/7400117,740 - BLVD ALTI EMPREENDIMENTO IMOBILIÁRIO LTDA,74000.0,PROJETO BLVD ALTI,4135.0,DUVALE PUBLICIDADE LTDA,56.869.092/0001-03,PUBLICAÇÃO DE ANUNCIO - DUVALE,26/11/2024,26/01/2025,...,NaN,NaN,NaN,NaN,não,NaN,NaN,não,não,não

In [178]:
df.isna().sum()

Contrato                                1
Empresa                                 1
Cód. Obra                               1
Obra                                    1
Cód. Fornecedor                         1
Fornecedor*                             1
CPF/CNPJ Fornecedor                     1
 Objeto do Contrato                     1
Data do Contrato                        1
Data de Término                         1
Situação do Contrato                    1
Data da alteração de situação         215
Descrição da alteração de situação    215
Responsável                             1
Situação de Autorização                 1
Autorizado por                          1
Cód. Tipo do Contrato                   1
Tipo do Contrato                        1
Total Mão de Obra                     118
Total Material                        343
Total                                   6
Total Medido                           35
Saldo                                 289
Cód. Centro custo previsão              9
Centro custo previsão                   9
Cód. departamento previsão              9
Departamento previsão                   9
Observação da previsão                465
Total em Aberto                       289
Total Sinal                           509
Cód. Centro custo sinal               509
Centro custo sinal                    509
Cód. Departamento sinal               509
Departamento sinal                    509
Vencimento do sinal                   509
Observação do sinal                   509
Retém impostos no sinal                 0
Total Fat. Direto                     501
Total Fat. Direto Vinculado           502
Fat. direto outro(s) contrato(s)        0
Fat. direto considera indice            0
Fat. direto por desconto                0
dtype: int64

In [179]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509 entries, 0 to 508
Data columns (total 42 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Contrato                            508 non-null    object
 1   Empresa                             508 non-null    object
 2   Cód. Obra                           508 non-null    float64
 3   Obra                                508 non-null    object
 4   Cód. Fornecedor                     508 non-null    float64
 5   Fornecedor*                         508 non-null    object
 6   CPF/CNPJ Fornecedor                 508 non-null    object
 7    Objeto do Contrato                 508 non-null    object
 8   Data do Contrato                    508 non-null    object
 9   Data de Término                     508 non-null    object
 10  Situação do Contrato                508 non-null    object
 11  Data da alteração de situação       294 non-null    object
 12  Descrição da alteração de situação  294 non-null    object
 13  Responsável                         508 non-null    object
 14  Situação de Autorização             508 non-null    object
 15  Autorizado por                      508 non-null    object
 16  Cód. Tipo do Contrato               508 non-null    float64
 17  Tipo do Contrato                    508 non-null    object
 18  Total Mão de Obra                   391 non-null    object
 19  Total Material                      166 non-null    object
 20  Total                               503 non-null    object
 21  Total Medido                        474 non-null    object
 22  Saldo                               220 non-null    object
 23  Cód. Centro custo previsão          500 non-null    float64
 24  Centro custo previsão               500 non-null    object
 25  Cód. departamento previsão          500 non-null    float64
 26  Departamento previsão               500 non-null    object
 27  Observação da previsão              44 non-null     object
 28  Total em Aberto                     220 non-null    object
 29  Total Sinal                         0 non-null      float64
 30  Cód. Centro custo sinal             0 non-null      float64
 31  Centro custo sinal                  0 non-null      float64
 32  Cód. Departamento sinal             0 non-null      float64
 33  Departamento sinal                  0 non-null      float64
 34  Vencimento do sinal                 0 non-null      float64
 35  Observação do sinal                 0 non-null      float64
 36  Retém impostos no sinal             509 non-null    object
 37  Total Fat. Direto                   8 non-null      object
 38  Total Fat. Direto Vinculado         7 non-null      object
 39  Fat. direto outro(s) contrato(s)    509 non-null    object
 40  Fat. direto considera indice        509 non-null    object
 41  Fat. direto por desconto            509 non-null    object
dtypes: float64(12), object(30)
memory usage: 167.1+ KB

In [180]:
df.columns # See the list of columns after deletion!

Index(['Contrato', 'Empresa', 'Cód. Obra', 'Obra', 'Cód. Fornecedor',
       'Fornecedor*', 'CPF/CNPJ Fornecedor', ' Objeto do Contrato',
       'Data do Contrato', 'Data de Término', 'Situação do Contrato',
       'Data da alteração de situação', 'Descrição da alteração de situação',
       'Responsável', 'Situação de Autorização', 'Autorizado por',
       'Cód. Tipo do Contrato', 'Tipo do Contrato', 'Total Mão de Obra',
       'Total Material', 'Total', 'Total Medido', 'Saldo',
       'Cód. Centro custo previsão', 'Centro custo previsão',
       'Cód. departamento previsão', 'Departamento previsão',
       'Observação da previsão', 'Total em Aberto', 'Total Sinal',
       'Cód. Centro custo sinal', 'Centro custo sinal',
       'Cód. Departamento sinal', 'Departamento sinal', 'Vencimento do sinal',
       'Observação do sinal', 'Retém impostos no sinal', 'Total Fat. Direto',
       'Total Fat. Direto Vinculado', 'Fat. direto outro(s) contrato(s)',
       'Fat. direto considera indice', 'Fat. direto por desconto'],
      dtype='object')

In [181]:
colunas_para_remover = [
    "Cód. Departamento sinal", "Departamento sinal", "Vencimento do sinal",
    "Observação do sinal", "Retém impostos no sinal", "Total Fat. Direto",
    "Total Fat. Direto Vinculado", "Fat. direto outro(s) contrato(s)",
    "Fat. direto considera indice", "Fat. direto por desconto"
]

df = df.drop(columns=colunas_para_remover)

In [182]:
df.head()

,Contrato,Empresa,Cód. Obra,Obra,Cód. Fornecedor,Fornecedor*,CPF/CNPJ Fornecedor,Objeto do Contrato,Data do Contrato,Data de Término,...,Saldo,Cód. Centro custo previsão,Centro custo previsão,Cód. departamento previsão,Departamento previsão,Observação da previsão,Total em Aberto,Total Sinal,Cód. Centro custo sinal,Centro custo sinal
0,CTF/7400121,740 - BLVD ALTI EMPREENDIMENTO IMOBILIÁRIO LTDA,74000.0,PROJETO BLVD ALTI,4130.0,GCS PROMOCAO E PUBLICIDADE LTDA,28.660.162/0001-75,PONTOS DE CAPTAÇÃO - GCS PROMOÇÕES,21/11/2024,01/06/2025,...,NaN,74020.0,INCORPORAÇÃO - BLVD ALTI,6.0,MARKETING,NaN,NaN,NaN,NaN,NaN
1,CTF/7400120,740 - BLVD ALTI EMPREENDIMENTO IMOBILIÁRIO LTDA,74000.0,PROJETO BLVD ALTI,2841.0,MAXIMA MARKETING PROMOCIONAL LTDA,18.666.314/0001-93,LOCAÇÃO DE BISTROS - MAXIMA,04/11/2024,04/02/2025,...,NaN,74020.0,INCORPORAÇÃO - BLVD ALTI,6.0,MARKETING,NaN,NaN,NaN,NaN,NaN
2,CTF/7400119,740 - BLVD ALTI EMPREENDIMENTO IMOBILIÁRIO LTDA,74000.0,PROJETO BLVD ALTI,2709.0,ALL COPIAS,56.927.924/0001-92,MATERIAIS GRAFICOS - ALL CÓPIAS,26/11/2024,26/04/2025,...,"R$ 4.455,00",74020.0,INCORPORAÇÃO - BLVD ALTI,7.0,COMERCIAL,NaN,"R$ 4.455,00",NaN,NaN,NaN
3,CTF/7400118,740 - BLVD ALTI EMPREENDIMENTO IMOBILIÁRIO LTDA,74000.0,PROJETO BLVD ALTI,4136.0,PUBLICKER SERVICOS E COMERCIO LTDA,15.479.964/0001-31,MIDIA - PUBLICKER,26/11/2024,26/02/2025,...,NaN,74020.0,INCORPORAÇÃO - BLVD ALTI,6.0,MARKETING,NaN,NaN,NaN,NaN,NaN
4,CTF/7400117,740 - BLVD ALTI EMPREENDIMENTO IMOBILIÁRIO LTDA,74000.0,PROJETO BLVD ALTI,4135.0,DUVALE PUBLICIDADE LTDA,56.869.092/0001-03,PUBLICAÇÃO DE ANUNCIO - DUVALE,26/11/2024,26/01/2025,...,NaN,74020.0,INCORPORAÇÃO - BLVD ALTI,6.0,MARKETING,NaN,NaN,NaN,NaN,NaN

In [183]:
df.isna().sum()

Contrato                                1
Empresa                                 1
Cód. Obra                               1
Obra                                    1
Cód. Fornecedor                         1
Fornecedor*                             1
CPF/CNPJ Fornecedor                     1
 Objeto do Contrato                     1
Data do Contrato                        1
Data de Término                         1
Situação do Contrato                    1
Data da alteração de situação         215
Descrição da alteração de situação    215
Responsável                             1
Situação de Autorização                 1
Autorizado por                          1
Cód. Tipo do Contrato                   1
Tipo do Contrato                        1
Total Mão de Obra                     118
Total Material                        343
Total                                   6
Total Medido                           35
Saldo                                 289
Cód. Centro custo previsão              9
Centro custo previsão                   9
Cód. departamento previsão              9
Departamento previsão                   9
Observação da previsão                465
Total em Aberto                       289
Total Sinal                           509
Cód. Centro custo sinal               509
Centro custo sinal                    509
dtype: int64

In [184]:
# As colunas dentro do DF estavam com má formatação em virtude disso adotamos os "_" entre os espaçãmentos
df.columns = df.columns.str.replace(" ", "_")

In [185]:
df.columns

Index(['Contrato', 'Empresa', 'Cód._Obra', 'Obra', 'Cód._Fornecedor',
       'Fornecedor*', 'CPF/CNPJ_Fornecedor', '_Objeto_do_Contrato',
       'Data_do_Contrato', 'Data_de_Término', 'Situação_do_Contrato',
       'Data_da_alteração_de_situação', 'Descrição_da_alteração_de_situação',
       'Responsável', 'Situação_de_Autorização', 'Autorizado_por',
       'Cód._Tipo_do_Contrato', 'Tipo_do_Contrato', 'Total_Mão_de_Obra',
       'Total_Material', 'Total', 'Total_Medido', 'Saldo',
       'Cód._Centro_custo_previsão', 'Centro_custo_previsão',
       'Cód._departamento_previsão', 'Departamento_previsão',
       'Observação_da_previsão', 'Total_em_Aberto', 'Total_Sinal',
       'Cód._Centro_custo_sinal', 'Centro_custo_sinal'],
      dtype='object')

#### Como o percentual é maior que 30% poderiamos deletar a coluna porem a mesma pe importante.

## Tratando Coluna "Centro_custo_sinal"

In [188]:
df.Centro_custo_sinal.isnull().sum()

509

In [189]:
df.Centro_custo_sinal.isnull().mean()*100

100.0

#### Encontrado 100% de valor ausente na coluna "Centro_custo_sinal , _Centro_custo_sinal, Total_Sinal, Observação_da_previsão" Por isso a mesma sera dropada

In [191]:
func_calc_percentual_valores_ausentes(df)

O dataset tem 21.82 % de valores ausentes.

In [192]:
func_calc_percentual_valores_ausentes_coluna(df)

O dataset tem 32 colunas.
Encontrado: 32 colunas que têm valores ausentes.

,Valores Ausentes,% de Valores Ausentes,Dtype
Centro_custo_sinal,509,100.00,float64
Cód._Centro_custo_sinal,509,100.00,float64
Total_Sinal,509,100.00,float64
Observação_da_previsão,465,91.36,object
Total_Material,343,67.39,object
Saldo,289,56.78,object
Total_em_Aberto,289,56.78,object
Descrição_da_alteração_de_situação,215,42.24,object
Data_da_alteração_de_situação,215,42.24,object
Total_Mão_de_Obra,118,23.18,object
Total_Medido,35,6.88,object
Cód._Centro_custo_previsão,9,1.77,float64
Cód._departamento_previsão,9,1.77,float64
Departamento_previsão,9,1.77,object
Centro_custo_previsão,9,1.77,object
Total,6,1.18,object
Tipo_do_Contrato,1,0.20,object
Contrato,1,0.20,object
Empresa,1,0.20,object
Autorizado_por,1,0.20,object
Situação_de_Autorização,1,0.20,object
Responsável,1,0.20,object
Situação_do_Contrato,1,0.20,object
Data_de_Término,1,0.20,object
Data_do_Contrato,1,0.20,object
_Objeto_do_Contrato,1,0.20,object
CPF/CNPJ_Fornecedor,1,0.20,object
Fornecedor*,1,0.20,object
Cód._Fornecedor,1,0.20,float64
Obra,1,0.20,object
Cód._Obra,1,0.20,float64
Cód._Tipo_do_Contrato,1,0.20,float64

In [193]:
df = df.drop(columns=['Cód._Centro_custo_sinal','Total_Sinal','Observação_da_previsão'])

Total_Material

In [195]:
df.Total_Material.head(10)

0             NaN
1     R$ 3.849,01
2             NaN
3             NaN
4             NaN
5             NaN
6             NaN
7    R$ 48.070,00
8     R$ 9.521,13
9             NaN
Name: Total_Material, dtype: object

In [196]:
fix_missing_value(df, 'Total_Material' , 0) # Preechendo valores ausentes com 0

343 valores ausentes na coluna Total_Material foram substituídos por 0.

0                     0
1           R$ 3.849,01
2                     0
3                     0
4                     0
             ...
504                   0
505                   0
506                   0
507                   0
508    R$ 52.574.077,64
Name: Total_Material, Length: 509, dtype: object

In [197]:
# Remover espaços invisíveis e caracteres especiais como 'R$'
df['Total_Material'] = df['Total_Material'].astype(str).str.replace(r'[^\d,.-]', '', regex=True)

# Substituir ponto (separador de milhar) por nada e vírgula decimal por ponto
df['Total_Material'] = df['Total_Material'].str.replace(r'\.', ',', regex=True).str.replace(',', '.')

# Converter para float e preencher valores ausentes com 0
df['Total_Material'] = pd.to_numeric(df['Total_Material'], errors='coerce').fillna(0)

In [198]:
df.Total_Material.isnull().sum()

0

## Tratando Variavel Centro_custo_sinal

In [200]:
df.Centro_custo_sinal.isnull().sum() # Count values

509

In [201]:
df.Centro_custo_sinal.isnull().mean()*100

100.0

> ### Pela varivel "Centro_custo_sinal" ter 100% de valores ausentes optamos por deletar a mesma do DF !

In [203]:
df = df.drop(columns=['Centro_custo_sinal'])

### Tratando Variavel "Total_em_Aberto"

In [205]:
df.Total_em_Aberto.isnull().sum()

289

In [206]:
df.Total_em_Aberto.isnull().mean()*100

56.777996070726914

A variavel "Total_em_Aberto" tem mais que 56% dos valores ausentes em sua construção porem a mesma não pode ser deletada!

In [208]:
# Definição da função
def formatar_valor_brasileiro(coluna):
    """
    Remove o símbolo 'R$', formata o número no padrão brasileiro
    e converte para float64.
    """
    return (
        coluna.astype(str)  
        .str.replace(r'[^\d,]', '', regex=True)  # Remove tudo que não for número ou vírgula
        .str.replace(',', '.')  # Substitui vírgula decimal por ponto
        .astype(float)  # Converte para float64
    )

# Aplicação no DataFrame (verifique se a coluna está correta!)
df['Total_Material'] = formatar_valor_brasileiro(df['Total_Material'])

In [209]:
df.Total_Material.isnull().sum() # Count values missing

0

In [210]:
df.Total_Material.dtype # Convertido de Str para Float

dtype('float64')

## Tratando "Variavel Saldo"

In [212]:
df.Saldo.isnull().sum()

289

In [213]:
df.Saldo.dtype

dtype('O')

In [214]:
def limpar_e_converter(coluna):
    """
    Remove símbolos monetários, espaços invisíveis, substitui vírgula por ponto e converte para float.
    Ignora valores vazios.
    """
    return (
        coluna.astype(str)
        .str.replace(r'[^\d,]', '', regex=True)  # Remove tudo que não for número ou vírgula
        .str.replace(',', '.', regex=False)  # Substitui vírgula decimal por ponto
        .replace('', np.nan)  # Substitui strings vazias por NaN
        .astype(float)  # Converte para float
    )

# Aplicação da função na coluna 'Saldo'
df['Saldo'] = limpar_e_converter(df['Saldo'])

In [215]:
fix_missing_value(df, 'Saldo' , 0) # Preechendo valores ausentes com 0

289 valores ausentes na coluna Saldo foram substituídos por 0.

0             0.00
1             0.00
2          4455.00
3             0.00
4             0.00
          ...
504       10000.00
505           0.00
506           0.00
507           0.00
508    44328514.05
Name: Saldo, Length: 509, dtype: float64

In [216]:
df['Saldo'] = df['Saldo'].map(lambda x: f"{x:,.2f}".replace('.', ','))

In [217]:
df.Saldo.head()

0        0,00
1        0,00
2    4,455,00
3        0,00
4        0,00
Name: Saldo, dtype: object

### Tratando Valores ausentes em Total_em_Aberto

In [219]:
df.Total_em_Aberto.isnull().sum()

289

In [220]:
df.Total_em_Aberto.isnull().mean()*100

56.777996070726914

### A variavel Total_em_Aberto tem mais que 30% de valores ausentes porem a mesma é importate para os dados do cliente!

In [222]:
def limpar_e_converter(coluna):
    """
    Remove símbolos monetários, espaços invisíveis, substitui vírgula por ponto e converte para float.
    Ignora valores vazios.
    """
    return (
        coluna.astype(str)
        .str.replace(r'[^\d,]', '', regex=True)  # Remove tudo que não for número ou vírgula
        .str.replace(',', '.', regex=False)  # Substitui vírgula decimal por ponto
        .replace('', np.nan)  # Substitui strings vazias por NaN
        .astype(float)  # Converte para float
    )

# Aplicação da função na coluna 'Saldo'
df['Total_em_Aberto'] = limpar_e_converter(df['Total_em_Aberto'])

In [223]:
df['Total_em_Aberto'] = df['Total_em_Aberto'].map(lambda x: f"{x:,.2f}".replace('.', ','))

In [224]:
df.Total_em_Aberto.isnull().sum()

0

## Vtratando Varivel "Descrição_da_alteração_de_situação"

In [226]:
df.Descrição_da_alteração_de_situação.isnull().sum()

215

In [227]:
df.Descrição_da_alteração_de_situação.dtype

dtype('O')

In [228]:
df.Descrição_da_alteração_de_situação.head(10)

0    Situação alterada através de liberação de medi...
1    Situação alterada através de liberação de medi...
2                                                  NaN
3                                                  NaN
4    Situação alterada através de liberação de medi...
5    Situação alterada através de liberação de medi...
6    Situação alterada através de liberação de medi...
7                                                  NaN
8    Situação alterada através de liberação de medi...
9    Situação alterada através de liberação de medi...
Name: Descrição_da_alteração_de_situação, dtype: object

In [229]:
convert_to_string(df, ['Descrição_da_alteração_de_situação'])

In [230]:
df.Descrição_da_alteração_de_situação.isnull().mean()*100

42.23968565815324

### A variavel Descrição_da_alteração_de_situação conta com mais de 46% de valores ausentes por esse motivo a mesma poderia ser removida porem os dados sao importantes!

In [232]:
df.Descrição_da_alteração_de_situação.shape

(509,)

In [233]:
df.dropna(subset=['Descrição_da_alteração_de_situação'], inplace=True)

In [234]:
df.Descrição_da_alteração_de_situação.isnull().sum()

0

In [235]:
df.Descrição_da_alteração_de_situação.head()

0    Situação alterada através de liberação de medi...
1    Situação alterada através de liberação de medi...
4    Situação alterada através de liberação de medi...
5    Situação alterada através de liberação de medi...
6    Situação alterada através de liberação de medi...
Name: Descrição_da_alteração_de_situação, dtype: string

### Verificando Variaveis Ausentes do DF

In [237]:
func_calc_percentual_valores_ausentes_coluna(df)

O dataset tem 28 colunas.
Encontrado: 7 colunas que têm valores ausentes.

                            Valores Ausentes  % de Valores Ausentes    Dtype
Total_Mão_de_Obra                         46                  15.65   object
Total_Medido                              13                   4.42   object
Total                                      5                   1.70   object
Cód._Centro_custo_previsão                 5                   1.70  float64
Centro_custo_previsão                      5                   1.70   object
Cód._departamento_previsão                 5                   1.70  float64
Departamento_previsão                      5                   1.70   object

### Tratando Variavel *"Total_Mão_de_Obra"*

In [239]:
df.Total_Mão_de_Obra.isna().sum()

46

In [240]:
df.Total_Mão_de_Obra.shape

(294,)

In [241]:
df.Total_Mão_de_Obra.isnull().mean()*100

15.646258503401361

### Essa variavel de Total_Mão_de_Obra tem 15% de valores ausentes vamos tratar a mesma

In [243]:
df.Total_Mão_de_Obra.head()

0     R$ 31.920,00
1              NaN
4      R$ 8.990,00
5    R$ 333.700,00
6        R$ 705,79
Name: Total_Mão_de_Obra, dtype: object

In [244]:
df.dropna(subset=['Total_Mão_de_Obra'], inplace=True) #deletando linhas com valores ausentes da variavel!

In [245]:
df.Total_Mão_de_Obra.isna().sum()

0

In [246]:
df['Total_Mão_de_Obra'] = (
    df['Total_Mão_de_Obra']
    .astype(str)  # Garante que os valores são strings antes da substituição
    .str.replace('R$', '', regex=True)  # Remove o símbolo "R$"
    .str.replace('.', '', regex=True)  # Remove os pontos (separadores de milhar)
    .str.replace(',', '.', regex=True)  # Substitui a vírgula decimal por ponto
    .str.strip()  # Remove espaços extras
    .replace('', '0')  # Substitui valores vazios por "0" (ou pode usar NaN)
    .astype(float)  # Converte para float
)

In [247]:
df.Total_Mão_de_Obra.isna().sum()

0

In [248]:
func_calc_percentual_valores_ausentes_coluna(df)

O dataset tem 28 colunas.
Encontrado: 1 colunas que têm valores ausentes.

              Valores Ausentes  % de Valores Ausentes   Dtype
Total_Medido                 6                   2.42  object

### Tratando Variavel *"Total_Medido"*

In [250]:
df.Total_Medido.head(50)

0        R$ 31.920,00
4         R$ 8.990,00
5       R$ 333.700,00
6           R$ 705,79
9         R$ 4.500,00
10        R$ 2.200,00
11        R$ 7.354,00
15       R$ 19.870,00
16        R$ 2.642,72
19      R$ 122.869,99
20        R$ 7.467,60
21        R$ 8.837,00
24          R$ 400,00
27        R$ 4.200,00
28        R$ 3.190,00
29       R$ 12.000,00
30       R$ 41.400,00
31       R$ 13.255,00
36        R$ 7.500,00
37        R$ 2.800,00
38        R$ 8.300,00
39       R$ 21.521,26
40      R$ 114.631,03
41       R$ 32.700,00
42        R$ 2.204,00
43        R$ 6.850,00
44        R$ 1.840,00
45      R$ 113.768,00
46       R$ 27.174,16
48        R$ 8.617,00
50      R$ 460.720,00
51       R$ 54.500,00
52       R$ 23.072,00
54       R$ 39.180,90
58        R$ 4.202,60
62        R$ 1.500,00
63    R$ 1.158.936,40
66       R$ 77.666,95
67        R$ 1.314,60
68        R$ 7.700,00
69        R$ 5.000,00
70      R$ 369.500,00
71        R$ 2.500,00
72        R$ 5.000,00
75       R$ 92.000,00
76                NaN
77        R$ 1.280,00
79      R$ 353.200,00
80          R$ 250,00
81        R$ 9.196,00
Name: Total_Medido, dtype: object

In [251]:
df.Total_Medido.isnull().sum()

6

In [252]:
df.Total_Medido.isnull().mean()*100

2.4193548387096775

Devido a porcentagem de valores ausentes serem menores que 2% Não iremos remover esses valores ausentes da mesma

In [254]:
df.Total_Medido.dtype

dtype('O')

In [255]:
df['Total_Medido'] = df['Total_Medido'].fillna(0)